CompileFlags:
    Add:
        - -I.
        - -Inac3core
        - -Inac3core/irrt
        - -xc++
        - -std=c++20
        - -fno-discard-value-names
        - -fno-exceptions
        - -fno-rtti
        - -S
        - -Wall
        - -Wextra
    Compiler: clang
Diagnostics:
    ClangTidy:
        Remove:
            - misc-definitions-in-headers
